In [74]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import pprint as pp

In [22]:
df = pd.read_json('train.json')
kaggle = df
list(kaggle.cuisine.unique())

['greek',
 'southern_us',
 'filipino',
 'indian',
 'jamaican',
 'spanish',
 'italian',
 'mexican',
 'chinese',
 'british',
 'thai',
 'vietnamese',
 'cajun_creole',
 'brazilian',
 'french',
 'japanese',
 'irish',
 'korean',
 'moroccan',
 'russian']

In [23]:
kaggle.head()

       cuisine     id                                        ingredients
0        greek  10259  [romaine lettuce, black olives, grape tomatoes...
1  southern_us  25693  [plain flour, ground pepper, salt, tomatoes, g...
2     filipino  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3       indian  22213                [water, vegetable oil, wheat, salt]
4       indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [31]:
kaggle.loc[(kaggle.cuisine == 'greek'), 'cuisine'] = 'mediterranean'
kaggle.loc[(kaggle.cuisine == 'southern_us'), 'cuisine'] = 'american'
kaggle.loc[(kaggle.cuisine == 'jamaican'), 'cuisine'] = 'latin_american'
kaggle.loc[(kaggle.cuisine == 'british'), 'cuisine'] = 'other_european'
kaggle.loc[(kaggle.cuisine == 'cajun_creole'), 'cuisine'] = 'american'
kaggle.loc[(kaggle.cuisine == 'brazilian'), 'cuisine'] = 'latin_american'
kaggle.loc[(kaggle.cuisine == 'irish'), 'cuisine'] = 'other_european'
kaggle.loc[(kaggle.cuisine == 'moroccan'), 'cuisine'] = 'african'
kaggle.loc[(kaggle.cuisine == 'russian'), 'cuisine'] = 'other_european'
kaggle.loc[(kaggle.cuisine == 'filipino'), 'cuisine'] = 'other_asian'

kaggle.head()

         cuisine     id                                        ingredients
0  mediterranean  10259  [romaine lettuce, black olives, grape tomatoes...
1       american  25693  [plain flour, ground pepper, salt, tomatoes, g...
2    other_asian  20130  [eggs, pepper, salt, mayonaise, cooking oil, g...
3         indian  22213                [water, vegetable oil, wheat, salt]
4         indian  13162  [black pepper, shallots, cornflour, cayenne pe...

In [113]:
grouped = kaggle.groupby('cuisine')
cuisines = []
for x in grouped:
    cuisines.append(x[0])
cuisines.append('middle_eastern')
kaggle_words = dict.fromkeys(cuisines)
for key in kaggle_words:
    kaggle_words[key] = ''

    


for cuisine in grouped:
    for x in cuisine[1].ingredients:
        for y in x:
            kaggle_words[cuisine[0]]=kaggle_words[cuisine[0]] + y + ' '
    print('done')

done
done
done
done
done
done
done
done
done
done
done
done
done
done
done
done

In [114]:
print(cuisines)

['african', 'american', 'chinese', 'french', 'indian', 'italian', 'japanese', 'korean', 'latin_american', 'mediterranean', 'mexican', 'other_asian', 'other_european', 'spanish', 'thai', 'vietnamese', 'middle_eastern']

In [115]:
%store kaggle_words

Stored 'kaggle_words' (dict)

In [117]:
print(kaggle_words.keys())

dict_keys(['african', 'american', 'chinese', 'french', 'indian', 'italian', 'japanese', 'korean', 'latin_american', 'mediterranean', 'mexican', 'other_asian', 'other_european', 'spanish', 'thai', 'vietnamese', 'middle_eastern'])